html, body {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2em; 
}

h2 {
  font-size: 1.4em;
}

header {
  padding: 1em;
}

section {
  display: flex;
  height: 500px;
}

textarea#source, pre#dest {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

textarea#source {
}

pre#dest {
  width: 50%;
}